/** 
  Page level styles
 **/
div:focus {
	outline: none;
}

.hidden {
	display: none;
}

/**
  Overrides of bootstrap styles 
  **/ 
.navbar {
	margin-bottom: 0px;
}

.navbar-btn {
	margin-left: 10px; 
}

.panel-body {
	padding: 5;
}

/**
  General styles
 **/
.canvas {
	border: 1px solid gainsboro;
	padding: 5px;
	margin: 5px;
}

#content {
	width: 100%;
}

#constraints-canvas {
	border: 1px solid #ccc;
}

.page-container, .top, .bottom {
	display: flex;
}

.bottom {
	align-items: flex-start;
}

.page-container {
	flex-direction: column;
}

.widgets-container, .constraints-container, .designs-container, .containers-container {
	margin-top: 10px;
	margin-left: 10px;
}

.navbar-default {
	background-color: #f8f8f8;
    border-color: #e7e7e7;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
}

/** 
	Constraints canvas 
**/
.constraints-canvas-container {
	width: 400px;
}

.constraints-canvas-page-feedback {
	display: inline-block;
}

.widgets-container {
	border-right: 1px solid #ccc;
}

/** 
	Designs canvas 
**/
.designs-container {
	display: flex;
}

.design-canvas-container {
	flex: 1 1 0px;
    align-self: stretch;
    margin-right: 10px;
}

.design-canvas {
	border: 1px solid #ccc;
}

.design-canvas-header > a {
	color: #000;
	text-decoration: none; 
}

.design-canvas-header > a:hover {
	text-decoration: none;
}

.design-body > .canvas-container {
	display: inline-block;
	margin: 5px;
}

.design-body {
    overflow: auto;
    min-height: 550px;
    max-height: 550px;
}

.saved-body {
	height: 75px;
	display: flex; 
	flex-direction: row;
}

.saved-body .canvas-container {
	margin-right: 5px;
}

.save-icon {
	margin-left: 0.5em;
	margin-top: 0.5em;
}

.save-icon, .trash-icon {
	transform: scale(1.5);
	display: inline-block;
}

.trashed-body {
	height: 75px;
}

.designs-message {
	margin-bottom: 5px;
	margin-top: 5px;
}

.design-canvas-button {
	margin-left: 10px;
}

/** 
  Feedback menu that appears on design canvases 
  */

.canvas-feedback-menu {
	list-style-type: none;
    padding: 0px;
}

.canvas-feedback-menu > li, {
	padding: 0.5em;
}

.canvas-feedback-menu > li:hover {
	background-color: lightgray;
	cursor: pointer; 
}

.canvas-feedback-menu-item {
	padding-left: 1em;
}

.canvas-feedback-menu-label {
	font-weight: bold;
	padding-left: 0.5em; 
}

.canvas-feedback-menu-container {
    position: absolute;
    background: white;
    z-index: 1000;
    list-style-type: none;
    width: 150px;
    font-size: 12px;
    border: 1px solid gray;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding-top: 5px;
}

/** 
  Actions menu that appears on design canvas 

 **/

 .canvas-actions-menu-container {
    position: absolute;
    background: transparent;
    z-index: 1000;
}

.canvas-actions-menu {
	list-style-type: none;
    padding: 0px;
}

.canvas-actions-menu > li, {
	padding: 0.5em;
}

.canvas-actions-menu > li:hover {
	cursor: pointer; 
}

.canvas-actions-menu-item {
	display: inline-block;
	transform: scale(1.5);
	margin-left: 1em;
	margin-top: 1em;
}


.constraint-error-message {
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
}


/* Widgets tree feedback items */ 
.widget-feedback-items {
    list-style-type: none;
    margin-top: 5px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 2px;
}


/* Custom theme for sortable tree. We could make a theme for the tree, but this is much easier to do for now! */ 
.widgets-sortable-tree {
	height: 100%;
}

.widgets-sortable-tree .rst__rowContents {
	border: none;
	box-shadow: none;
	min-width: initial;
}

.widgets-sortable-tree .rst__rowWrapper {
	padding: 0px;
}

.widgets-sortable-tree .rst__moveHandle {
	height: 44px;
}


.widgets-sortable-tree .rst__rowTitleWithSubtitle {
    height: inherit; 
}

.widgets-sortable-tree .rst__rowSubtitle {
	font-size: inherit;
}

.widgets-sortable-tree .rst__lineHalfHorizontalRight:before {
	top: 22px;
}

.widgets-sortable-tree .rst__lineHalfHorizontalRight:after {
	height: calc(100% - 22px);
}

.widgets-sortable-tree .rst__lineFullVertical:after {
	height: 100%;
}

.widgets-sortable-tree .rst__lineHalfVerticalTop:after {
	height: 22px;
}

.widgets-sortable-tree .rst__rowLabel {
	padding-right: 5px;
}

.widgets-sortable-tree .rst__collapseButton, 
.widgets-sortable-tree .rst__expandButton {
	top: 22px;
}

.widgets-sortable-tree .rst__lineChildren:after {
	height: calc(100% - 44px); 
}

.widgets-sortable-tree-remove {
	border: none;
}

.widgets-sortable-tree-remove:hover {
	border: initial;
}

.widgets-sortable-tree-remove > span {
	font-size: 18pt;
}































