/* Right click menus */ 

.dropdown {
	position: absolute;
}

.dropdown-menu {
	padding-top: 0;
	font-size: initial;
	padding-bottom: 0;
}

.dropdown-menu .caret {
	margin-left: 10px;
}

.dropdown-menu .divider {
	height: auto;
	overflow: visible; 
    background-color: #ffffff; 
    display: flex; 
    justify-content: center;
    margin-bottom: 0;
    margin-top: 20px;
}

.dropdown-menu .divider.divider-top {
	margin-top: 0;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-menu > li {
	border-top: 1px solid lightgray;
}

.dropdown-menu > li.dropdown-disabled > a {
	color: #a8a8a8;
	cursor: default; 
}

.dropdown-menu > li.dropdown-disabled > a:focus, 
.dropdown-menu > li.dropdown-disabled > a:hover {
	background-color: white;
}


/* 
  Constraints canvas 
 */

 .constraints-canvas-container {
 	display: flex; 
 	overflow: auto;
 }

 .constraints-canvas-tree-container {
 	min-width: 500px;
 }

 .constraints-canvas-alert {
 	margin: 2em;
 	margin-top: 4em;
 }

/** 
  Widget feedback panel area 
**/ 
.widget-feedback-panel {
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	padding: 0.5em;
	position: relative;
}

.widget-feedback-panel span {
	white-space: nowrap;
}

/**
	Other styles 
**/

.widget-container {
	display: flex; 
	flex-direction: row; 
	align-items: center;
	
}

.widget-container > .widget-control-importance {
	margin-top: 5px;
	display: flex;
}

.widget-container.highlighted {	
	border: 2px dashed black;
	padding: 0.5em;
}

.widget-container.primary-selection {
	border: 1px #FF83A8 dotted;
	background-color: pink;
    padding: 0.5em;
}

.widget-container.secondary-selection {
	border: 1px darkblue dotted;
	background-color: lightblue;    
	padding: 0.5em;
}

.widget-control-group .widget-control {
	margin-right: 10px;
}

.widget-control-button .widget-editable-text, 
.widget-control-orangeButton .widget-editable-text {
	transform: translate(120px, 22px);
}

.widget-control-field .widget-editable-text {
	transform: translate(9.7px, 24px);
}

.widget-control-label > .widget-control-svg {
	width: 5em;
}

.widget-control-row {
	display: flex; 
	align-items: flex-start;
	flex-direction: column;
}

.widget-control-info {
    display: flex;
    margin-top: 0.5em;
}

.widget-control-info span {
	margin-left: 0px;
	margin-right: 0.5em;
}

.widget-control-info-left, 
.widget-control-info-right {
	display: flex; 
	flex-direction: column; 
	justify-content: center;
}

.widget-control-info-right {
	margin-left: 10px;
}

.widget-control-labels {
	zoom: 40%; 
	position: absolute;
/*	z-index: 1000; 
*/
}

.widget-control-remove-icon {
	transform: scale(2.0); 
	margin-left: 1em;
}

.widget-container .badge {
	font-size: 14px;
	border-radius: 3px;
}

/* Widgets tree feedback items */ 
.widget-feedback-items {
    list-style-type: none;
    margin-top: 5px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 2px;
}

.widget-feedback-container {
	margin-top: 0.5em;
}

.widget-feedback-items.highlighted {
   	border: 2px dashed #85144b;
   	background-color: #ef9a9a;
}

.widget-feedback-items-list {
	display: flex; 
}

.widget-feedback-items-remove {
    background-color: #f5f5f5;
    border: none;
}

.widget-feedback-items-remove.highlighted {
	background-color: #ef9a9a;
}