.design-canvas {
	position: relative;
	cursor: pointer;
	transition: all .1s ease-in-out;
	background-color: white; 
}

.design-canvas:hover {
	transform: scale(1.25) translate(0, 40px);
}

.zoomed-design-container .design-canvas:hover {
	transform: none;
}

.design-canvas.saved-design {
	transform: none;
}

.zoomed-design-container .canvas-actions-container  {
	display: none;
}

.design-canvas.hovered .SVGInline-svg {
	cursor: pointer; 
}

.design-body > .canvas-container {
	display: inline-block;
	margin: 3em;
}

.canvas-container {
	background-color: white; 
}

.canvas-container .canvas-container-invalid {
	background-image: url("../assets/stripe2.png");
}

.canvas-container .canvas-container-invalid.canvas-container-invalid-scaled {
	background-image: url("../assets/stripe_scaled.png");
}

.saved-body, .trashed-body {
	height: 75px;
	display: flex; 
	flex-direction: row;
}

.invalidated-body {
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.saved-body .canvas-container, .trashed-body .canvas-container {
	margin-right: 5px;
}

.invalidated-body .canvas-container {
	margin-bottom: 5px;
}

.save-icon {
	margin-left: 0.5em;
	margin-top: 0.5em;
}

.designs-message {
	margin-bottom: 5px;
	margin-top: 5px;
}

.design-canvas-button {
	margin-left: 10px;
}

.design-canvas-widget:hover, 
.design-canvas-widget.secondary-selection:hover {
	outline: 4px #FF83A8 solid;
	cursor: pointer;
}


.design-canvas:not(.new-design) {
	outline: 1px solid #c4c4c4;
}

.design-canvas.hovered, 
.design-canvas.hovered .design-canvas-hovered, 
.design-canvas.hovered.primary-selection, 
.design-canvas.hovered.secondary-selection {
	outline: 4px #FF83A8 solid;
	z-index: 1000; 
}

.design-canvas.primary-selection,
.design-canvas-widget.primary-selection {
	outline: 4px #FF83A8 solid;
}

.design-canvas.secondary-selection.new-design,
.design-canvas-widget.secondary-selection.new-design {
	outline: 4px lightblue solid;
}

.design-canvas.secondary-selection,
.design-canvas-widget.secondary-selection {
	outline: 4px lightblue solid;
}

.design-canvas.new-design:not(.primary-selection):not(.secondary-selection) {
	outline: 4px #18BC9C solid; 
}


