.design-body {
	display: flex; 
	flex-direction: row; 
	align-items: flex-start;
	height: 100%;
	overflow: auto; 
}

.design-body-valid {
    flex: 1;
    flex-grow: 2; 
    display: flex; 
    flex-wrap: wrap; 
}

.design-body-invalid {
    flex: 1;
    display: flex; 
    flex-wrap: wrap; 
}

.design-body.saved-body {
	display: flex; 
	flex-direction: row;
	min-height: 520px;
	overflow: auto;
	height: auto;
}

.design-body.saved-body .design-body-valid {
	flex-wrap: nowrap;
	flex-grow: 1; 
}

.design-body.saved-body .canvas-container {
	height: auto; 
}


/** 
	Designs canvas 
**/
.designs-container {
	margin-bottom: 0;
}

.designs-container.current-designs-container {
	height: 100%;
}

.design-canvas-container {
	height: 100%;
	display: flex; 
    flex-direction: column; 
}

.design-canvas-container .current-designs-container {
	border: none;
}

.designs-canvas-container-alert {
	margin: 0.5em;
	font-size: 12px;
}

.designs-canvas-container-alert.alert-dismissable .close {
	top: 0;
	right: 0;
}

.constraint-error-message {
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
}

.design-canvas-container-separator {
	border-top: 1px solid rgba(0,0,0,0.5);
	height: 2px;
}