.design-canvas {
	position: relative;
	border: 1px solid #c4c4c4;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.design-canvas:hover {
	transform: scale(1.5) translate(0, 20px);
	z-index: 100000;
}

/*.design-canvas .widget-control {
	cursor: pointer;
}*/

/*.design-canvas .widget-control-leaf {
	z-index: 500; 
}*/

.design-canvas.hovered, 
.design-canvas.hovered .design-canvas-hovered {
	outline: 1px dashed #000000;
}

.design-canvas.hovered .SVGInline-svg {
	cursor: pointer; 
}

.design-body > .canvas-container {
	display: inline-block;
	margin: 25px;
}

.canvas-container .canvas-container-invalid {
	background-image: url("../assets/stripe2.png");
}

.canvas-container .canvas-container-invalid.canvas-container-invalid-scaled {
	background-image: url("../assets/stripe_scaled.png");
}

.saved-body, .trashed-body {
	height: 75px;
	display: flex; 
	flex-direction: row;
}

.invalidated-body {
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.saved-body .canvas-container, .trashed-body .canvas-container {
	margin-right: 5px;
}

.invalidated-body .canvas-container {
	margin-bottom: 5px;
}

.save-icon {
	margin-left: 0.5em;
	margin-top: 0.5em;
}

.designs-message {
	margin-bottom: 5px;
	margin-top: 5px;
}

.design-canvas-button {
	margin-left: 10px;
}
