.feedback-container {
	min-width: 550px;
	width: 550px;
	display: flex;
	flex-direction: column; 
}

.feedback-container-body {
	flex: 1 1 0px;
}

.feedback-container .custom-switch {
	margin-left: 1em; 
	margin-top: 1em;
}

.feedback-container-label {
	margin-right: 1em;
	margin-left: 1em;
	font-size: 20px;
	width: 175px;
}

.feedback-container-or-label {
	margin-left: 3em;
	border-left: 1px solid gray;
	padding-left: 1em;
	width: 132px;
}

.feedback-container-toggle {
	margin: 1em; 
	display: flex; 
	flex-direction: row;
	align-items: center;
}

.feedback-container-alert {
	margin: 2em;
	margin-top: 10em;
}

span.feedback-container-separator {
    border-top: 2px solid rgba(0,0,0,0.125);
    height: 1;
    flex: 1 1 0px;
    margin-top: 20px;
	margin-bottom: 20px;
}

.feedback-container-separator-label {
	font-size: 20px;
}

.feedback-container-toggle .dropdown {
	position: initial;
	margin-right: 1em;
}

.feedback-container-locks {
	display: flex; 
	flex-direction: row;
}

.feedback-container-locks span {
	padding-left: 0.5em;
	cursor: pointer; 
	font-size: 24px;
}

.feedback-container-locks span.locked {
	color: black;
}

.feedback-container-locks span.unlocked {
	color: lightgray;
}

.feedback-container-locks span.disabled {
	cursor: default; 
}

.feedback-container-locks span.enabled:hover {
	color: black;
}

.feedback-container .dropdown-menu.scrollable-menu {
	height: auto;
	max-height: 400px;
	overflow-x: hidden;
}

.feedback-primary-selection-indicator {
	display: flex; 
	flex-direction: row; 
	flex: 1 1 0px;
	justify-content: flex-end;
}

.feedback-primary-selection-indicator div {
	width: 50px;
	height: 20px;
	background-color: #FF83A8;
}

.feedback-container-separator-group {
	display: flex; 
	flex-direction: row; 
	margin-top: 20px;
	align-items: center;
}

/* Checkboxes */ 