.page-container {
	height: 100%;
}

.designs-area-container {
	overflow: auto; 
}

.designs-area-container .designs-area-nav-pills .nav-link.active{
	background-color: #18BC9C;
}

.designs-area-container .designs-area-nav-pills .nav-link {
	color: white;
	background-color: #2C3E50;
}

.designs-area-container .designs-area-nav-pills .nav-link:hover {
	background-color: #18BC9C;
}

.designs-area-container .designs-area-nav-pills {
	margin-left: 2em;
}

.designs-area-container .designs-area-number {
	padding-right: 10px;
	font-size: 20;
}

.designs-area-container .designs-area-link {
	font-size: 16;
}

.designs-area-container .designs-area-actions {
	display: flex; 
	flex: 1 1 0px;
	justify-content: flex-end;
}

.designs-area-container .designs-area-alert-container .card {
	margin: 2em;
	margin-top: 10em;
}

.designs-area-container .panel-heading {
	height: 62.5px;
}

.zoomed-design-container {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -333;
    margin-left: -187;
    z-index: 3; 
}

.zoomed-design-container-background {
	height: 100%;
	width: 100%;
	background-color: #000000;
	opacity: 0.5; 
	z-index: 2; 
	position: absolute;
}

.zoomed-design-container .right-click-menu-container.dropdown {
	position: fixed; 
	z-index: 4; 
}

.design-canvas-alert {
	margin: 2em;
}