.zoomed-design-container {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -333;
    margin-left: -187;
    z-index: 3; 
}

.zoomed-design-container-background {
	height: 100%;
	width: 100%;
	background-color: #000000;
	opacity: 0.5; 
	z-index: 2; 
	position: absolute;
}

.zoomed-design-container .right-click-menu-container.dropdown {
	position: fixed; 
	z-index: 4; 
}