.rc-tree li span.rc-tree-iconEle {
	height: initial;
	width: initial;
}

.rc-tree li {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.rc-tree > li {
    margin-top: 0;
    margin-left: 0.5em;
}

.rc-tree li .rc-tree-node-content-wrapper {
	height: initial;
}
/*
.rc-tree li ul {
	padding: 0 0 0 50px;
}*/

.rc-tree li span.rc-tree-switcher {
	height: 32px;
	width: 32px;
}

.rc-tree li span.rc-tree-switcher.rc-tree-switcher_close:before {
	content: "\002b";
}

.rc-tree li span.rc-tree-switcher.rc-tree-switcher_open:before {
	content: "\2212";
}

.rc-tree li span.rc-tree-switcher {
    margin-right: 1em;
    position: relative;
    top: 5px;
}

.rc-tree li span.rc-tree-switcher.rc-tree-switcher_open, 
.rc-tree li span.rc-tree-switcher.rc-tree-switcher_close  {
	color: black;
    opacity: 0.7;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    background-image: none;
    height: 20px;
    width: 20px;
    transform: scale(1.5);
}

.rc-tree span.rc-tree-node-selected {
    padding: 0.5em;
}

.rc-tree > li > span.rc-tree-switcher.rc-tree-switcher-noop {
    /* Hide the tree switcher toggle for the canvas node since it is always expanded */
    display: none;
}

.rc-tree > li > span.rc-tree-switcher.rc-tree-switcher_open {
    display: none;
}